@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: rgb(32, 189, 32);
  --secondary-color: rgb(170, 53, 209);
  --black-color: rgb(0, 0, 0);
  --gray-dark-color: #333;
  --gray-border-color: #c9c8c8;
  --white-color: #faf7f7;
  --bg-rgb-color: rgba(0, 0, 0, 0.4);
}



* {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

ol,
ul {
  list-style: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
}

img {
  border: 0px;
}
